@import "index";
@import "carousel";


@media only all and (min-width: 0){
  #aboutSection{
    @include centered;
    margin: 2.5rem auto;
    #aboutDiv{
      @include centered;
      margin-bottom: 2.5rem;
      width: 90%;
      h2{
        margin: 1rem auto;
      }
      p{
        line-height: 1.5rem;
        text-indent:2.5rem;
      }
      a:link, a:visited{
        @include linkStylization;
        margin: 1rem auto;
        padding: 1rem 2rem;
        width: fit-content;
        &:hover, &:active, &:focus{
          border-radius: 10px;
        }
      }
    }
    figure{
      border: 1px solid black;
      width: 100vw;
      height: 100vw;
      img{
        width: 100%;
      }
    }
  }
  #reviewSection{
    @include mobileCarousel;
    background-image: url("../resources/imgs/landing/landing5.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    #filter{
      background-color: rgba(0,0,0,0.5);
      a:link, a:visited {
        @include linkStylization;
        &.slideBtn{
          background-color:transparent;
        }
      } 
      a{
        @include linkStylization;
        &:hover, &:active, &:focus{
          color:white;
        }
      }
    }
    
  }
}
@media only all and (min-width: 760px){
  #aboutSection{
    width: 80%;
    figure{
      width: 25rem;
      height: 25rem;
      box-shadow: 2.5px 2.5px 10px black;
    }
  }
}
@media only all and (min-width: 992px){
  #aboutSection{
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    #aboutDiv{
      width: 40%;
      align-items: flex-start;
      margin:initial;
      h2{
        margin: 1rem 0;
      }
      p{
        text-align:left;
        line-height: 2rem;
      }
      a:link, a:visited{
        margin: 1rem 0;
      }
    }
  }
}
@media only all and (min-width: 1200px){}
