@mixin mobileFooter{
  footer{
    width: 100%;
    background-color: rgba(25,25,25,1);
    text-align:center;
    color:white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    #topHalf_footer{
      @include centered;
      width: 75%;
      flex-direction: column;
      #logoArea{
        padding: 1rem 0;
        a{
          display:flex;
          img{
            width: 100%;
          }
        }
      }
      #footerNav{
        @include centered;
        margin: 1rem auto;
        width: 100%;
          ul{
            list-style: none;
            width: 100%;
            li{
              padding: 0.5rem 0;
              a:link, a:visited{
                color: white;
                text-decoration:none;
                font-size: 1.75rem;
              }
              a:hover{
                color: rgba(0,152,219, 1);
              }
              a:active, a:focus{
                color:rgba(236,145,74,1);
              }
            }
          }
      }
      #contactMolecule{
        width: 100%;
        display:flex;
        justify-content:space-between;
        margin: 1rem auto;
        a:link, a:visited{
          font-size: 2.5rem;
          color: white;
        }
        a:hover{
          color: rgba(0,152,219, 1);
        }
        a:active, a:focus{
          color:rgba(236,145,74, 1);
        }
      }
    }
    #bottomHalf_footer{
      padding: 2rem 0 0.5rem 0;
    }
  }
}
@mixin minFooter{
  footer{
    #topHalf_footer{
      width: 95%;
      display:grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 1fr 1fr;
      #logoArea{
        grid-column:1;
        grid-row: 1;
      }
      #footerNav{
        grid-column:2;
        grid-row:1;
        flex-direction: row;
        ul{
          width: 75%;
          display:flex; 
          flex-direction: row;
          justify-content: flex-end;
          li{
            a:link, a:visited{
              margin-left: 2.5rem;
              font-size: 1.5rem;
            }
          }
        }       
      }
      #contactMolecule{
        width: 75%;
        grid-column:1/3;
        grid-row:2;
        justify-content: flex-end;
        a{
          margin-left: 2.5rem;
        }
      }
    }
  }
}
@mixin medFooter{
  footer{
    #topHalf_footer{
      #logoArea{
        grid-row:1/3;
      }
      #footerNav{
        ul{         
          li{
              a{
                &:link, &:visited{
                  font-size: 1.75rem;
                }
              }
              }
            }
          }
      #contactMolecule{
        grid-column: 2;
        grid-row: 2;
      }
      }
    }
}





