@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, div, article, a, button {
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  header {
    height: 8.5rem;
    overflow: hidden;
    transition: height 0.75s;
    background-color: white;
  }
  header div#logoArea {
    height: 6rem;
    margin-bottom: 1rem;
  }
  header div#logoArea a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 6rem;
    width: 100%;
  }
  header div#logoArea a img {
    height: 6rem;
  }
  header section#mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(96, 96, 98);
  }
  header section#mobileMenu a:link, header section#mobileMenu a:visited {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    height: 1.25rem;
  }
  header section#mobileMenu button#dropDownBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 1.5rem;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  header section#mobileMenu button#dropDownBtn:hover {
    background-color: rgb(151, 152, 154);
  }
  header section#mobileMenu button#dropDownBtn:active, header section#mobileMenu button#dropDownBtn:focus {
    background-color: rgb(0, 152, 219);
  }
  header section#mobileMenu button#dropDownBtn i {
    transition: transform 0.75s;
  }
  header section#mobileMenu nav#mobileNav {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  header section#mobileMenu nav#mobileNav ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
  }
  header section#mobileMenu nav#mobileNav ul li {
    height: 1.75rem;
    width: 100%;
  }
  header section#mobileMenu nav#mobileNav ul li a {
    height: 1.75rem;
    width: 100%;
  }
  header section#mobileMenu nav#mobileNav ul li a.current, header section#mobileMenu nav#mobileNav ul li a:hover {
    background-color: rgb(151, 152, 154);
  }
  header section#mobileMenu nav#mobileNav ul li a:active, header section#mobileMenu nav#mobileNav ul li a:focus {
    background-color: rgb(0, 152, 219);
    background-color: rgb(236, 145, 74);
  }
  header nav#mainNav {
    display: none;
  }
  header.isOpen {
    height: 15.5rem;
  }
  header.isOpen section#mobileMenu button#dropDownBtn i {
    transform: rotate(180deg);
  }
  #hero {
    width: 100%;
    height: 55vh;
    overflow: hidden;
    position: relative;
    border-bottom: 1.5rem solid rgb(96, 96, 98);
  }
  #hero figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  #hero figure img {
    width: 250%;
    position: absolute;
    top: 0;
  }
  #hero a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 0;
    height: 15vh;
    background-color: rgba(0, 152, 219, 0.5);
  }
  #hero a:link, #hero a:visited {
    color: white;
    text-decoration: none;
    text-shadow: 0rem 0rem 0.25rem black;
  }
  #hero a:hover, #hero a:active, #hero a:focus {
    background-color: rgba(236, 145, 74, 0.5);
  }
  #hero:not(.landing) {
    height: 40vh;
  }
  #hero:not(.landing) h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2.5rem 0;
    bottom: 30%;
  }
  body {
    background: linear-gradient(135deg, white 21px, #dddddd 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, white 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
    background-color: white;
    background-size: 64px 128px;
  }
  main {
    padding-top: 0rem;
    min-height: 100vh;
    margin-bottom: 2.5rem;
  }
  footer {
    width: 100%;
    background-color: rgb(25, 25, 25);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer #topHalf_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    width: 75%;
    flex-direction: column;
  }
  footer #topHalf_footer #logoArea {
    padding: 1rem 0;
  }
  footer #topHalf_footer #logoArea a {
    display: flex;
  }
  footer #topHalf_footer #logoArea a img {
    width: 100%;
  }
  footer #topHalf_footer #footerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin: 1rem auto;
    width: 100%;
  }
  footer #topHalf_footer #footerNav ul {
    list-style: none;
    width: 100%;
  }
  footer #topHalf_footer #footerNav ul li {
    padding: 0.5rem 0;
  }
  footer #topHalf_footer #footerNav ul li a:link, footer #topHalf_footer #footerNav ul li a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
  }
  footer #topHalf_footer #footerNav ul li a:hover {
    color: rgb(0, 152, 219);
  }
  footer #topHalf_footer #footerNav ul li a:active, footer #topHalf_footer #footerNav ul li a:focus {
    color: rgb(236, 145, 74);
  }
  footer #topHalf_footer #contactMolecule {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
  }
  footer #topHalf_footer #contactMolecule a:link, footer #topHalf_footer #contactMolecule a:visited {
    font-size: 2.5rem;
    color: white;
  }
  footer #topHalf_footer #contactMolecule a:hover {
    color: rgb(0, 152, 219);
  }
  footer #topHalf_footer #contactMolecule a:active, footer #topHalf_footer #contactMolecule a:focus {
    color: rgb(236, 145, 74);
  }
  footer #bottomHalf_footer {
    padding: 2rem 0 0.5rem 0;
  }
  #backToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 6;
    border-radius: 50%;
    padding: 0.75rem;
    background-color: rgb(0, 152, 219);
    color: white;
    border: none;
    font-size: 2rem;
    line-height: 1rem;
    cursor: pointer;
  }
  #backToTop:hover {
    background-color: rgb(236, 145, 74);
  }
}
@media only all and (min-width: 760px) {
  #hero figure img {
    width: 150%;
  }
  footer #topHalf_footer {
    width: 95%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;
  }
  footer #topHalf_footer #logoArea {
    grid-column: 1;
    grid-row: 1;
  }
  footer #topHalf_footer #footerNav {
    grid-column: 2;
    grid-row: 1;
    flex-direction: row;
  }
  footer #topHalf_footer #footerNav ul {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  footer #topHalf_footer #footerNav ul li a:link, footer #topHalf_footer #footerNav ul li a:visited {
    margin-left: 2.5rem;
    font-size: 1.5rem;
  }
  footer #topHalf_footer #contactMolecule {
    width: 75%;
    grid-column: 1/3;
    grid-row: 2;
    justify-content: flex-end;
  }
  footer #topHalf_footer #contactMolecule a {
    margin-left: 2.5rem;
  }
}
@media only all and (min-width: 992px) {
  header {
    width: 100%;
    padding: 0 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header div#logoArea {
    height: 7.5rem;
    margin: 0;
  }
  header div#logoArea a {
    height: 7.5rem;
  }
  header div#logoArea a img {
    height: 7.5rem;
  }
  header section#mobileMenu {
    display: none;
  }
  header nav#mainNav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
  }
  header nav#mainNav ul {
    display: flex;
    justify-content: space-between;
    width: 900%;
    list-style: none;
  }
  header nav#mainNav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    font-size: 1.25rem;
  }
  header nav#mainNav ul li a span {
    width: 0%;
    border: 2px solid transparent;
    transition: all 0.5s;
  }
  header nav#mainNav ul li a.current {
    font-weight: bolder;
    color: rgb(0, 152, 219);
  }
  header nav#mainNav ul li a.current span {
    width: 100%;
    border-color: rgb(0, 152, 219);
  }
  header nav#mainNav ul li a:hover span, header nav#mainNav ul li a:active span, header nav#mainNav ul li a:focus span {
    border-color: rgb(0, 152, 219);
    width: 100%;
  }
  header.isOpen {
    height: 5rem;
  }
  #hero {
    height: 80vh;
    border-top: 2rem solid rgb(96, 96, 98);
  }
  #hero figure img {
    width: 100%;
  }
  #hero a {
    width: 40vw;
    height: 20vw;
    bottom: 20%;
    right: 2.5rem;
  }
  #hero a:hover, #hero a:active, #hero a:focus {
    border-radius: 15px;
  }
  #hero:not(.landing) {
    height: 70vh;
  }
  #hero:not(.landing) h1 {
    bottom: 32.5%;
    height: 25vh;
    font-size: 3rem;
  }
  footer #topHalf_footer #logoArea {
    grid-row: 1/3;
  }
  footer #topHalf_footer #footerNav ul li a:link, footer #topHalf_footer #footerNav ul li a:visited {
    font-size: 1.75rem;
  }
  footer #topHalf_footer #contactMolecule {
    grid-column: 2;
    grid-row: 2;
  }
}
@media only all and (min-width: 1200px) {
  header {
    height: 7rem;
  }
  header div#logoArea {
    height: 6rem;
    margin-bottom: 0rem;
  }
  header div#logoArea a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 6rem;
    width: 100%;
  }
  header div#logoArea a img {
    height: 6rem;
  }
  header nav#mainNav {
    width: 25%;
  }
}
@media only all and (min-width: 0) {
  body #noteToUser {
    display: flex;
    width: 85vw;
    margin: 2.5rem auto;
    font-size: 1.5rem;
  }
  body #gallery #selectionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    margin: 1rem auto;
    justify-content: center;
  }
  body #gallery #selectionDiv button {
    display: flex;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 152, 219, 0.75);
    transition: all 0.5s;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border: none;
  }
  body #gallery #selectionDiv button:hover, body #gallery #selectionDiv button:active, body #gallery #selectionDiv button:focus {
    background-color: rgba(236, 145, 74, 0.75);
  }
  body #gallery #selectionDiv button[disabled] {
    background-color: rgb(151, 152, 154);
    cursor: initial;
  }
  body #gallery #selectionDiv button:hover:not([disabled]), body #gallery #selectionDiv button:active:not([disabled]), body #gallery #selectionDiv button:focus:not([disabled]) {
    border-radius: 10px;
  }
  body #gallery #materialDropDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
  }
  body #gallery #materialDropDown.hide {
    display: none;
  }
  body #gallery #materialDropDown label {
    margin-right: 0.5rem;
  }
  body #gallery #imgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  body #gallery #imgDiv h2 {
    margin: 2.5rem auto 1rem auto;
    text-decoration: underline;
  }
  body #gallery #imgDiv article {
    opacity: 1;
    transition: all 0.5s;
    width: 100%;
  }
  body #gallery #imgDiv article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    box-shadow: 2.5px 2.5px 10px black;
    margin: 1rem auto;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 200px;
  }
  body #gallery #imgDiv article figure div.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.4s;
  }
  body #gallery #imgDiv article figure div.filter:hover, body #gallery #imgDiv article figure div.filter:focus {
    background-color: rgba(0, 152, 219, 0.5);
  }
  body #gallery #imgDiv article figure div.filter:active {
    background-color: rgba(236, 145, 74, 0.5);
  }
  body #gallery #imgDiv article figure img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.5s;
  }
  body #gallery #imgDiv article figure img[data-src] {
    opacity: 0;
  }
  body #gallery #imgDiv article.lazyParent {
    opacity: 0;
  }
  body #popUp {
    position: fixed;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.85);
  }
  body #popUp div#popUpHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    width: 90%;
    height: 100%;
  }
  body #popUp div#popUpHolder button {
    display: flex;
    align-self: flex-end;
    margin-bottom: 1rem;
    color: white;
    background-color: transparent;
    border: 0.5px solid white;
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  body #popUp div#popUpHolder button:hover, body #popUp div#popUpHolder button:focus {
    background-color: rgb(0, 152, 219);
    border: 0.5px solid rgb(0, 152, 219);
  }
  body #popUp div#popUpHolder button:active {
    background-color: rgb(236, 145, 74);
    border: 0.5px solid rgb(236, 145, 74);
  }
  body #popUp div#popUpHolder #closeBtn {
    z-index: 1;
    position: absolute;
    top: 5vh;
  }
  body #popUp div#popUpHolder #zoomBtns_div {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 7.5rem;
    justify-content: space-between;
  }
  body #popUp div#popUpHolder #zoomBtns_div button {
    width: 40px;
    margin-bottom: 4rem;
  }
  body #popUp div#popUpHolder figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 0 2.5rem white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  body #popUp div#popUpHolder figure div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  body #popUp div#popUpHolder figure img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    width: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body #popUp div#popUpHolder figure.portrait {
    max-width: 80vw;
    max-height: 50vh;
  }
  body #popUp div#popUpHolder figure.square {
    max-width: 80vw;
    max-height: 50vh;
  }
  body #popUp div#popUpHolder figure.landscape {
    max-width: 90vw;
    max-height: 30vh;
  }
}
@media only all and (min-width: 600px) {
  body #noteToUser {
    width: 80vw;
    font-size: 1.25rem;
  }
  body #gallery #imgDiv {
    width: 80vw;
  }
  body #gallery #imgDiv article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  body #gallery #imgDiv article figure {
    width: 100%;
    height: initial;
  }
  body #popUp div#popUpHolder.portrait {
    width: 50%;
  }
  body #popUp div#popUpHolder.landscape {
    width: 75%;
  }
  body #popUp div#popUpHolder.square {
    width: 60%;
  }
}
@media only all and (min-width: 760px) {
  body #noteToUser {
    width: 75vw;
    font-size: 1.25rem;
  }
  body #gallery #imgDiv article {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body #popUp div#popUpHolder.portrait {
    width: 40%;
  }
  body #popUp div#popUpHolder.square {
    width: 50%;
  }
  body #popUp div#popUpHolder.landscape {
    width: 70%;
  }
}
@media only all and (min-width: 992px) {
  body #gallery #imgDiv article {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  body #popUp div#popUpHolder.portrait {
    width: 30%;
  }
  body #popUp div#popUpHolder.square {
    width: 40%;
  }
  body #popUp div#popUpHolder.landscape {
    width: 50%;
  }
}
@media only all and (min-width: 1200px) {
  body #popUp div#popUpHolder {
    width: 50%;
  }
  body #popUp div#popUpHolder button {
    display: flex;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
  body #popUp div#popUpHolder figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 0 2.5rem white;
    border-radius: 5px;
    overflow: hidden;
  }
  body #popUp div#popUpHolder figure div {
    margin-bottom: -20%;
    transition: all 0.75s;
  }
  body #popUp div#popUpHolder figure:hover div, body #popUp div#popUpHolder figure :active div, body #popUp div#popUpHolder figure:focus div {
    margin-bottom: 0;
  }
  body #popUp div#popUpHolder figure img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  body #popUp div#popUpHolder.portrait {
    width: 25%;
  }
  body #popUp div#popUpHolder.square {
    width: 35%;
  }
  body #popUp div#popUpHolder.landscape {
    width: 40%;
  }
}/*# sourceMappingURL=gallery.css.map */