@mixin mobileHeader{
  header{
    height: 8.5rem;
    overflow: hidden;
    transition: height 0.75s;
    div#logoArea{
      height: 6rem;
      margin-bottom: 1rem;
      a{
        @include centered;
        height: 6rem;
        width: 100%;
        img{
          height: 6rem;
        }
      }
    }
    section#mobileMenu{
      @include centered;
      background-color:rgb(96,96,98);
      a:link, a:visited{
        @include centered;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration:none;
        color: black;
        height: 1.25rem;
      }
      button#dropDownBtn{
        @include centered;
        height: 1.5rem;
        width: 100%;
        background-color: transparent;
        border:none;
        &:hover{
          background-color:rgb(151,152,154); 
        }
        &:active, &:focus{
          background-color: rgb(0,152,219);
        }
        i {
          transition: transform 0.75s;
        }
      }
      nav#mobileNav{
        // height: 7.5rem;
        height:fit-content;
        width: 100%;
        margin-bottom: .5rem;
        ul{
          height: 100%;
          width: 100%;
          display:flex;
          flex-direction: column;
          justify-content: space-evenly;
          list-style:none;
          li{
            height: 1.75rem;
            width: 100%;
            a{
              height: 1.75rem;
              width: 100%;
              &.current, &:hover{
                background-color:rgb(151,152,154);
              }
              &:active, &:focus{
                background-color: rgb(0,152,219);
                background-color:rgb(236,145,74);
                
              }
            }
          }
        }
      }
    }
    nav#mainNav{
      display:none;
    }
  }
  header.isOpen{
    height: 15.5rem;
    section#mobileMenu{
      button#dropDownBtn{
        i{
          transform:rotate(180deg);
        }
      }
    }
  }
}
@mixin minHeader{}
@mixin medHeader{
  header{
    width: 95%;
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    div#logoArea{
      height: 7.5rem;
      margin:0;
      a{
        height: 7.5rem;
        img{
          height: 7.5rem;
        }
      }
    }
    section#mobileMenu{
      display:none;
    }
    nav#mainNav{
      font-family: Arial, Helvetica, sans-serif;
      display:flex;
      ul{
        display:flex;
        justify-content: space-between;
        width: 900%;
        list-style:none;
        li{
          a{
            @include centered;
            text-decoration: none;
            color:black;
            padding: 0.5rem;
            font-size: 1.25rem;
            span{
              width: 0%;
              border: 2px solid transparent;
              transition: all 0.5s;
            }
            &.current{
              font-weight: bolder;
              color: rgb(0,152,219);
              span{
                width: 100%;
                border-color: rgb(0,152,219);
              }
            }
            &:hover, &:active, &:focus{
              span{
                border-color: rgb(0,152,219);
                width: 100%;
              }
            }
          }
        }
      }
    }

  }
  header.isOpen{
    height: 5rem;
  }
}
@mixin maxHeader{
  header{
    width: 90%;
    height: 7rem;
    div#logoArea{
      height: 6rem;
      margin-bottom: 0rem;
      a{
        @include centered;
        height: 6rem;
        width: 100%;
        img{
          height: 6rem;
        }
      }
    }
    nav#mainNav{
      width: 25%;
      ul>li>a{
        // font-size: 1.75rem;
      }
    }
  }
}


