@import "carousel";

@mixin mobileHero{
  #hero{
    width: 100%;
    height: 55vh;
    overflow: hidden;
    position:relative;
    border-bottom: 1.5rem solid rgb(96,96,98);
    figure{
      @include centered;
      img{
        width: 250%;
        position: absolute;
        top:0;
      }
    }
    a{
      @include centered;
      position:absolute;
      z-index: 3;
      bottom: 0;
      height: 15vh;
      background-color: rgba(0,152,219, 0.5);
      &:link, &:visited {
        color:white;
        text-decoration: none;
        text-shadow: 0rem 0rem 0.25rem black;
      }
      &:hover, &:active, &:focus{
        background-color:rgba(236,145,74, 0.5);
      }
    }
  }
  #hero:not(.landing){
    height: 40vh;
    h1{
      @include centered;
      position: absolute;
      z-index: 3;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      color:white;
      padding: 2.5rem 0;
      bottom: 30%;
    }
  }
}
@mixin minHero{
  #hero{
    figure{
      img{
        width: 150%;
      }
    }
  }
}
@mixin medHero{
  #hero{
    height: 80vh;
    border-top: 2rem solid rgb(96,96,98);
    figure{
      img{
        width: 100%;
      }
    }
    a{
      width: 40vw;
      height: 20vw;
      bottom: 20%;
      right: 2.5rem;
      &:hover, &:active, &:focus{
        border-radius: 15px;
      }
    }
  }
  #hero:not(.landing){
    height: 70vh;
    h1{
      bottom: 32.5%;
      height: 25vh;
      font-size: 3rem;
    }
  }
}


