@mixin mobileHero{
  div#hero{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position:relative;
    figure{
      @include centered;
      img{
        width: 250%;
      }
    }
    div#banner{
      @include centered;
      position:absolute;
      bottom: 0;
      height: 15vh;
      background-color: rgba(0,152,219, 0.5);
    }
  }
}
@mixin minHero{
  div#hero{
    figure{
      img{
      }
    }
    div#banner{
    }
  }
}
@mixin medHero{
  div#hero{
    height: 90vh;
    // border: 
    figure{
      img{
      }
    }
    div#banner{
      width: 20vw;
      height: 20vw;
      bottom: 15%;
      right: 2.5rem;
    }
  }
}
@mixin maxHero{}


