@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, div, article {
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  header {
    height: 7.5rem;
    overflow: hidden;
    transition: height 0.75s;
  }
  header div#logoArea {
    height: 6rem;
  }
  header div#logoArea a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 6rem;
    width: 100%;
  }
  header div#logoArea a img {
    height: 6rem;
  }
  header section#mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(96, 96, 98);
  }
  header section#mobileMenu a:link, header section#mobileMenu a:visited {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    height: 1.25rem;
  }
  header section#mobileMenu button#dropDownBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 1.5rem;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  header section#mobileMenu button#dropDownBtn:hover {
    background-color: rgb(151, 152, 154);
  }
  header section#mobileMenu button#dropDownBtn:active, header section#mobileMenu button#dropDownBtn:focus {
    background-color: rgb(0, 152, 219);
  }
  header section#mobileMenu button#dropDownBtn i {
    transition: transform 0.75s;
  }
  header section#mobileMenu nav#mobileNav {
    height: 10.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  header section#mobileMenu nav#mobileNav ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
  }
  header section#mobileMenu nav#mobileNav ul li {
    height: 1.75rem;
    width: 100%;
  }
  header section#mobileMenu nav#mobileNav ul li a {
    height: 100%;
    width: 100%;
  }
  header section#mobileMenu nav#mobileNav ul li a.current, header section#mobileMenu nav#mobileNav ul li a:hover {
    background-color: rgb(151, 152, 154);
  }
  header section#mobileMenu nav#mobileNav ul li a:active, header section#mobileMenu nav#mobileNav ul li a:focus {
    background-color: rgb(0, 152, 219);
  }
  header nav#mainNav {
    display: none;
  }
  header.isOpen {
    height: 18rem;
  }
  header.isOpen section#mobileMenu button#dropDownBtn i {
    transform: rotate(180deg);
  }
  div#hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
  }
  div#hero figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  div#hero figure img {
    width: 250%;
  }
  div#hero div#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 15vh;
    background-color: rgba(0, 152, 219, 0.5);
  }
  div#hero div#banner:hover, div#hero div#banner:active, div#hero div#banner:focus {
    background-color: rgba(236, 145, 74, 0.5);
  }
  main {
    padding-top: 0rem;
    min-height: 100vh;
    margin-bottom: 2.5rem;
  }
  footer {
    height: 10rem;
    width: 100%;
    background-color: rgb(25, 25, 25);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only all and (min-width: 760px) {
  div#hero figure img {
    width: 150%;
  }
}
@media only all and (min-width: 992px) {
  header {
    width: 90%;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header div#logoArea {
    height: 4rem;
  }
  header div#logoArea a {
    height: 4rem;
  }
  header div#logoArea a img {
    height: 4rem;
  }
  header section#mobileMenu {
    display: none;
  }
  header nav#mainNav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
  }
  header nav#mainNav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }
  header nav#mainNav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
  }
  header nav#mainNav ul li a span {
    width: 0%;
    border: 2px solid transparent;
    transition: all 0.5s;
  }
  header nav#mainNav ul li a.current span, header nav#mainNav ul li a:hover span, header nav#mainNav ul li a:active span, header nav#mainNav ul li a:focus span {
    border-color: rgb(0, 152, 219);
    width: 100%;
  }
  header nav#mainNav ul li a.current.current, header nav#mainNav ul li a:hover.current, header nav#mainNav ul li a:active.current, header nav#mainNav ul li a:focus.current {
    color: rgb(0, 152, 219);
    font-weight: bolder;
  }
  header.isOpen {
    height: 5rem;
  }
  div#hero {
    height: 80vh;
  }
  div#hero figure img {
    width: 100%;
  }
  div#hero div#banner {
    width: 40vw;
    height: 20vw;
    bottom: 20%;
    right: 2.5rem;
  }
}
@media only all and (min-width: 1200px) {
  header {
    width: 90%;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header div#logoArea {
    height: 4rem;
  }
  header div#logoArea a {
    height: 4rem;
  }
  header div#logoArea a img {
    height: 4rem;
  }
  header section#mobileMenu {
    display: none;
  }
  header nav#mainNav {
    width: 40%;
  }
  header {
    width: 90%;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header div#logoArea {
    height: 4rem;
  }
  header div#logoArea a {
    height: 4rem;
  }
  header div#logoArea a img {
    height: 4rem;
  }
  header section#mobileMenu {
    display: none;
  }
  header nav#mainNav {
    width: 40%;
  }
}/*# sourceMappingURL=index.css.map */