@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@import "header";
@import "hero";
@import "footer";

$color1:rgba(0,152,219);
$color2:rgba(236,145,74);


@mixin centered {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  width: 100%;
}

@mixin linkStylization {
  display:flex;
  color: white;
  text-decoration: none;
  background-color:rgba(0,152,219, 0.75);
  transition: all 0.5s;
  border:none;
  cursor:pointer;
  &:hover, &:active, &:focus{
    background-color:rgba(236,145,74, 0.75);
  }
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p,div,article,a,button{
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  @include mobileHeader;
  @include mobileHero;
  main{
    padding-top: 0rem;
    min-height: 100vh;
    margin-bottom: 2.5rem;
  }
  @include mobileFooter;
  #backToTop{
      position:fixed;
      bottom: 1rem;
      right: 1rem;
      z-index:6;
      border-radius:50%;
      padding: 0.75rem;
      background-color: rgba(0,152,219, 1);
      color:white;
      border:none;
      font-size: 2rem;
      line-height: 1rem;
      cursor:pointer;
      &:hover{
        background-color:rgba(236,145,74,1);
      }
  }
}
@media only all and (min-width: 760px) {
  @include minHeader;
  @include minHero;
  @include minFooter;
}
@media only all and (min-width: 992px) {
  @include medHeader;
  @include medHero;
  @include medFooter;
}
@media only all and (min-width: 1200px) {
  @include maxHeader;
  @include maxHeader;
}