@import "index";


@media only all and (min-width: 0){
  #reviewSection{
    @include centered;
    text-align: start;
    margin: 2.5rem auto;
    article{
      width: 90%;
      margin: 0.5rem auto;
      padding: 1rem;
      background-color: rgba(100,100,100,0.5);
      box-shadow: 2.5px 2.5px 10px black;
      a{
        font-weight: bold;
      }
      span{
        display:flex;
        margin: 0.5rem 0;
      }
    }
  }
  button#moreBtn{
    @include centered;
    @include linkStylization;
    width: 90%;
    padding: 1rem;
    &:hover, &:active, &:focus{
      border-radius: 10px;
    }
  }
}
@media only all and (min-width: 992px){
  #reviewSection{
    article{
      width: 80%;
    }
  }
  button#moreBtn{
    width: 15%;
  }
}
